

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
<% if current_user?(@user) %>
  <%= form_for @photo, :html => { :multipart => true } do |f| %>    
    <p>
      <b> Upload Picture </b>
      <%= f.file_field :image, as: :file %>
    </p>
    <%= f.submit %>
  <%end%>
<%end%>
</div>


 <div id="photo_pane" class="span4">    
     <%= will_paginate @photos %>
    <% if @user.photos.any? %>
      <h3>Photo count (<%= @user.photos.count %>)</h3>
      <ol class="photos">
        <%= render @photos %>
      </ol>
      
    <%end%>
</div>

  


