<%=@user.name%> <%=@user.email%>


<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

  <!--  <p>New user? <%= link_to "Sign up now!", signup_path %></p>  -->
<%if current_user?(@user) %> 
<p>SIGN OUT <%= link_to "Sign out", signout_path, method: "delete" %> </p>
<%end%>

<!--
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


-->
