<li> 
  <span class="content">
    <%= image_tag(photo.image.url(:thumb), :alt =>"Can't fetch photo") %>   
  </span>

  <span class="timestamp">  
    Uploaded <%=time_ago_in_words(photo.created_at) %> ago.   
  </span>
  <p>     
    <% if current_user?(photo.user) %>
      <%= link_to "delete", photo, method: :delete, data: { confirm: "You sure?" } %> 
    <%end%>
  
 <% exif =EXIFR::JPEG.new(Rails.root.to_s + "/public" +photo.image.url(:original,timestamp: false)).gps %> 
    <% if  exif != nil%>  
    ,
        <%= link_to "map", photo_map_path(:id => photo.id, :user => photo.user_id), remote: true  %>       
        <!-- <p>LAT =<%=exif.latitude%>   LONG=<%=exif.longitude%></p>    -->
    <%end%>   

  </p>  
  <br><br>
</li>
